.Add-img {
  background-image: url("../Images/League_of_Legends_Img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 66vh;
}

.Logo-jeu {
  max-width: 100%;
}

.Text-background {
  background-color: rgba(40, 44, 52, 0.66);
}

.Add-title {
  font-weight: 300;
  font-size: 2em;
  text-align: left;
}

@media screen and (max-width: 600px){
  .Add {
    padding: 24px;
    margin-top: 84px;
  }
}

@media screen and (min-width: 601px) {
  .Add {
    padding: 24px;
    margin-top: 84px;
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
  }
}

.Logomodal {
  background-image: url("../Images/Up&Win_Logo.png");
  background-size: cover;
  width: 88px;
  height: 88px;
  align-self: center;
  margin-top: 50%;
}

.modal-content {
  height: 250px;
  align-items: center;
  background-color: #1d1d1d !important;
  height: 80vh;
  margin-top: 6vh;
}

.modal-body {
  padding: 0rem !important;
}

.btn {
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1em !important;
}

.btn-primary:hover {
  border-color: none;
}

.accroche {
  color: #fff;
  padding: 7%;
}
