.container-fluid {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  padding        : 0;
  margin-bottom : 20px;
}

.col-xs-12 {
  padding: 0 !important;
}

h4 {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 40px !important;
}

.videoDisplay {
  padding-bottom: 58px;
}

.videoDisplayHorizontal {
  padding-bottom: 58px;
  padding-right: 20px;
  display: flex;
  overflow-x: scroll;
}

.overflow-clip {
  text-overflow: ellipsis;
  white-space: pre-wrap; /*ou pre-line ?*/
  overflow: hidden;
  max-width: 300px;
  height: 55px;
}

.marginVideo{
  margin-bottom: 50px;
}

/*.carousel {
}*/