.Logomodal {
  background-image: url("../Images/Up&Win_Logo.png");
  background-size: cover;
  width: 88px;
  height: 88px;
  align-self: center;
  margin-top: 15vh;
}

.wholeform {
  color: #fff;
  position: fixed;
  transition: all 750ms;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 1em !important;
  background-color: #1d1d1d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 5vh;
}

.fieldtitle {
  align-self: center;
}

.btn-secondary.disabled {
  margin-top: 2vh;
}

.pititephrase, label {
  text-align: center;
}