.Filter-button {
  position: absolute;
  right: 24px;
  top: 18px;
  border: none;
  background-image: url("../Images/filter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 48px;
  height: 48px;
  z-index: 1003;
}

.FiltersList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 1);
  margin: 24px;
  text-align: right;
  font-weight: bold;
}

.FiltersNumber {
  color: #EB220F;
  margin: 6px;
}

.FiltersCheckes {
  min-width: 1% !important;
}

.FiltersTitle {
  color: rgba(255, 255, 255, 1);
  margin: 24px;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
}

.MuiPaper-root {
  background-color: #333333 !important;
}