.WinRoot {
  align-items: 'center';
  width: 100;
  display: flex;
}

.WinInputContainer {
  padding: 24px;
}

.WinInput {
  min-width: 100%;
  background-color: white;
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.searchbar {
  padding-top: 5em;
}
