.WinRoot {
    display: 'flex';
    align-items: 'center';
    width: 400px;
}

.WinInput {
    margin-left: 8;
    flex: 1;
}
.WinIconButton {
    padding: 10;
}
.WinDivider {
    width: 1;
    height: 28;
    margin: 4;
}

