@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);

:focus {
  outline: none !important;
}

a {
  color: #FFF !important;
} a:hover {
  color: #EB220F !important;
}

h1 {
  text-align: left;
  font-size: 1.4em !important;
  font-weight: 700 !important;
}

h2 {
  text-align: left;
  font-size: 1em !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
}

h4 {
  text-align: left;
  font-size: 1.4em !important;
  font-weight: 300 !important;
}

.App {
  background-color: #000;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

.Semi-bold-Italic {
  font-weight: 600;
  font-style: italic;
}

.Bold {
  font-weight: 700;
}

.Extra-bold {
  font-weight: 800;
}

.ImageContainer {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.Button {
  min-width: 100%;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition:0.5s;
} .Button:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #eb1a0f, #eb1a0f);
  transition: 0.5s;
}

/* Show More Button */

.Showmorebutton {
  min-width: 50%;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition:0.5s;
  height: 20%;
  align-self: center;
} .Showmorebutton:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #eb1a0f, #eb1a0f);
  transition: 0.5s;
}

/* Showmorebuttonlol */

.Showmorebuttonlol {
  min-width: 100%;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition:0.5s;
  align-self: center;
} .Showmorebuttonlol:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #eb1a0f, #eb1a0f);
  transition: 0.5s;
}

.ButtonPress {
  min-width: 100%;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition: 0.5s;
}

.SecondaryButton {
  min-width: 100%;
  background-color: rgb(99, 26, 6);
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

.TertiaryButton {
  min-width: 100%;
  background-color: black;
  border: solid #eb1a0f 3px;
  border-radius: 50px;
  padding: 12px 24px 12px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  transition:0.5s;
}

.QuizButton {
  min-width: 100%;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 3px 6px 3px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.Page {
  margin: 24px;
  padding: 86px 0px 60px 0px;
  min-height: 100vh;
}

.Orange {
  font-weight: bold;
  color: #EB1A0F;
}

.Blue {
  font-weight: bold;
  color: #3F51B5;
}

.Divider {
  border-bottom: solid 3px rgba(255, 255, 255, 0.66);
}

.Row {
  margin-bottom: 12px;
}
.Row24 {
  margin-bottom: 24px;
}
.Row36 {
  margin-bottom: 36px;
}

.RowButton {
  margin-top: 24px;
  margin-bottom: 24px;
}

input {
  min-width: 100%;
  border-style: none;
  border-radius: 5px;
  padding: 6px 12px 6px 12px ;
}

.Video {
  margin-bottom: 48px;
  margin-right: 12px;
}

.VideoInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Info {
  margin-left: 12px;
}

/*////////////////////////        Chat        ////////////////////////*/

.userAlias {
  color: #eb3a0f;
}

.WinWhosOnlineList {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.WinProfil {
  margin: 0px 24px 0px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("./Images/profil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  width: 48px;
  height: 48px;
  transition: 0.6s;
}

.WinSendMessageFormContainer {
  position: fixed;
  bottom: 72px;
  left: 24px;
  right: 24px;
}

.WinSendMessageForm {
  min-width: 100%;
  height: 48px;
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  border-style: none;
  border-radius: 50px;
  padding: 6px 96px 12px 12px;
}

.SendButton {
  position: fixed;
  bottom: 72px;
  right: 24px;
  min-width: 48px;
  height: 48px;
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
  border-style: none;
  border-radius: 50px;
  padding: 12px 12px 12px 12px;
  color: white;
  transition:0.5s;
} .SendButton:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #eb1a0f, #eb1a0f);
  transition: 0.5s;
}

/*////////////////////////        GamerStatistics        ////////////////////////*/

.WinPaper {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  background-color: #444 !important;
  color: white;
}

.Number {
  color: white;
  font-size: 3em;
}

.WhiteText {
  color: white;
}

/*////////////////////////        LoLFilter        ////////////////////////*/

#Filter-nav {
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
  position: fixed;
  top: 84px;
  width: 100vw;
  height: 84px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: top 0.6s;
}

.Filter-button-on {
  margin: 12px 24px 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("./Images/filter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  width: 48px;
  height: 48px;
  transition: 0.6s;
}
.Filter-button-off {
  margin: 12px 24px 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("./Images/left-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  width: 48px;
  height: 48px;
  transition: 0.6s;
}

.Filter-list-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

.Filter-list {
  padding: 12px 24px 24px 0px;
  position: fixed;
  left: 96px;
  width: 100%;
}

.Filter-row {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 66vw;
  align-items: center;
  margin-top: 12px;
}

.Filter-check {
  min-width: auto !important;
} 

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%
}

input:checked + .slider {
  background-image: linear-gradient(45deg, #eb1a0f, #eb4d0f);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/*////////////////////////        ProfilNav        ////////////////////////*/

#ProfilNav {
  background-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
  position: fixed;
  padding-left: 24px;
  padding-right: 24px;
  top: 84px;
  width: 100vw;
  height: 84px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: top 0.6s;
}

.ProfilNavButton {
  margin-top: 12px;
  width: 48%;
}

.WinRoot {
  flex-grow: 1;
}

/*////////////////////////        Search        ////////////////////////*/

.WinRoot {
  align-items: 'center';
  width: 100;
  display: flex;
}

.SearchBarContainer {
  padding: 12px 24px 24px 24px;
  min-width: 100%;
}

.SearchBar {
  min-width: 100%;
  background-color: white;
  border-style: none;
  border-radius: 50px;
  padding: 12px 24px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.searchbar {
  padding-top: 5em;
}

.container-fluid {
  margin-bottom: 0px !important;
}